@import url('base.css');

.ipycompss-pycompss-sidebar {
  display: flex;
  flex-direction: column;
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
  height: 100%;
  padding-bottom: 0;
}

.ipycompss-pycompss-sidebar .jp-stack-panel-header {
  display: flex;
  border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
  flex: 0 0 auto;
  font-size: var(--jp-ui-font-size0);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 12px;
  text-transform: uppercase;
  line-height: 24px;
}
