.ipycompss-parameter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ipycompss-parameter .bp3-input-group {
  flex-shrink: 1;
}

/* stylelint-disable selector-class-pattern */
.ipycompss-parameter .jp-Checkbox {
  margin: 8px 0;
}

/* stylelint-enable selector-class-pattern */
